<%= form_for(@slot) do |f| %>
	
	<% @talk_id = @talk.id%>
	<%= hidden_field_tag('talk', value = @talk_id)  %>
				
	<!-- Populate with data from params
		 and simply ask user to confirm choices -->	
	
	<%= render '/shared/talk/details' %>	
	<%= render '/shared/talk/slot' %>	 
		  
	<fieldset class="actions">	
		<legend>Options</legend>	
		<span class="cancel"><%= link_to 'Cancel', slots_path %></span>
		<span class="delimiter"> </span>
		<span class="submit"><%= f.submit('Confirm') %></span>		
	</fieldset>
	
<% end %>

