<p id="notice"><%= notice %></p>

<%= form_tag('/slots/confirm') do |f| %>
 	
	<% if @talk.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being scheduled:</h2>
			<ul>
				<% @talk.errors.full_messages.each do |msg| %>
	        		<li><%= msg %></li>
	      		<% end %>
	      	</ul>
	    </div>
	<% end %>

	<% if (@empty_slots.nil?) %>
		<p>Wow, it looks as though all the slots have been taken!</p>
	<% else %>
		<%= hidden_field_tag('talk', value = @talk.id)  %>
		<%= render '/shared/grid/headings' %>
	<% end %>

	<fieldset class="actions">		
		<span class="cancel"><%= link_to 'Schedule Later', talks_path %></span>
		<span class="submit">  <%= submit_tag("Submit") %></span>		
	</fieldset>
	
<% end %>
