<%= form_for(@talk) do |f| %>
 	
	<% if @talk.errors.any? 
		@errors = @talk.errors
		@context = "prohibited this talk from being saved:"
	%><%= render '/shared/error' %>
	<% end %>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title, :placeholder => "e.g. My awesome talk" %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :speaker, "Speaker name(s)" %>
		<%= f.text_field :speaker, :placeholder => "e.g. Bob and Alice" %>
	</div>
	
	<fieldset class="actions">		
		<legend>Options</legend>	
		<span class="cancel"><%= link_to 'Cancel', talks_path %></span>
		<span class="delimiter"> </span>
		<span class="submit"><%= f.submit "Create and pick a slot", :class => "botton green" %></span>		
	</fieldset>
	
<% end %>
