<%= form_for(@talk) do |f| %>
 	
	<% if @talk.errors.any? 
		@errors = @talk.errors
		@context = "prohibited this talk from being saved:"
	%><%= render '/shared/error' %>
	<% end %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div class="field">
		<%= f.label :speaker %><br />
		<%= f.text_field :speaker %>
	</div>
	
	<fieldset class="actions">		
		<legend>Options</legend>	
		<span class="cancel"><%= link_to 'Cancel', talks_path %></span>
		<span class="delimiter"> </span>
		<span class="submit"><%= f.submit %></span>		
	</fieldset>
	
<% end %>
