<%= form_for(@talk, :html => {:class => "talk"}) do |f| %>
 	
		<% if @talk.errors.any? 
			@errors = @talk.errors
			@context = "prohibited this talk from being saved:"
		%><%= render '/shared/error' %>
		<% end %>
	
	 	<fieldset class="details">
			<div class="field">
				<p class="label"><%= f.label :title, "Title".html_safe %></p>
				<p><%= f.text_field :title, :placeholder => "e.g. My awesome talk", :autofocus => true %></p>
			</div>
			<div class="field">
              <p class="label"><%= f.label :description %>
                <span id="char_count" style="display: inline-block; float: right;"></span>
              </p>
              <p><%= f.text_area :description, :rows => 10 %></p>
			</div>
			<div class="field">
				<p class="label"><%= f.label :speaker, "Speaker name(s)".html_safe %></p>
				<p><%= f.text_field :speaker, :placeholder => "e.g. Bob and Alice" %></p>
			</div>
		</fieldset>
	
	<fieldset class="actions">	
		<p>
			<span class="cancel"><%= link_to 'Cancel', :back %></span>
			<span class="delimiter"> </span>
			<% label = ((@talk.new_record?) ? "Create talk" : "Save changes") %>
			<span class="submit"><%= f.submit label, :class => "button green" %></span>
		</p>		
	</fieldset>
	
<% end %>
