<%= form_tag('/slots/confirm') do |f| %>
	
	<% if @talk.errors.any? 
		@errors = @talk.errors
		@context = "prohibited this talk from being scheduled:"
	%><%= render '/shared/error' %>
	<% end %>	

	<% if (@empty_slots.nil?) %>
		<p>Wow, it looks as though all the slots have been taken!</p>
	<% else %>
		<p class="instructions">To add your talk to the grid, find an empty slot, click to select and hit submit.</p>
		<%= hidden_field_tag('talk', value = @talk.id)  %>
		<%= render '/shared/grid/headings' %>
	<% end %>

	<fieldset class="actions">	
		<legend>Options</legend>			
		<span class="cancel"><%= link_to 'Schedule Later', talks_path %></span>
		<span class="delimiter"> </span>
		<span class="submit"><%= submit_tag("Submit") %></span>		
	</fieldset>
	
<% end %>
