	<h1 class="heading">All Talks</h1>
	<% if (@talks.count > 0) %>
		<table>
			<tr>
				<th><p>Title</p></th>
				<th><p>Description</p></th>
				<th><p>Slot</p></th>
				<th colspan="3"><p>Options</p></th>	
			</tr>
			<% @talks.each do |talk| %>
				<tr class="talk">
					<td><p><%= talk.title %></p></td>
					<td><p><%= talk.description %></p></td>
					<td><p><%= talk.slot.id unless talk.slot.nil? %></p></td>
					<td><p><%= link_to 'Show', talk %></p></td>
					<td><p><%= link_to 'Edit', edit_talk_path(talk) %></p></td>
					<td><p><%= link_to 'Destroy', talk, :confirm => 'Are you sure?', :method => :delete %></p></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<p>Seems no-one has anything to say.</p>
	<% end %>

<p class="options">
	<%= link_to 'Add Talk', new_talk_path %>
</p>
