<div class="talk">
	<%= render '/shared/talk/details', :talk => @talk %>
	<% if (!@talk.slot.nil?) %>
		<%= render '/shared/talk/slot', :room => (@talk.slot.room unless @talk.slot.nil?), :timeslot => (@talk.slot.timeslot unless @talk.slot.nil?) %>       
	<% end %>
	<% etherpad = url_for_etherpad(@talk) %>
	<% if (!etherpad.blank?) %>
		<div class="related">
			<h2 class="heading">Related Links</h2>
			<ul class="bulleted">    	
				<li class="etherpad"><a href="<%= etherpad %>" title="Collaborative notepad">Etherpad</a>
				  <span class="cc">(all notes published are licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/"
				  title="Creative Commons Attribution-ShareAlike 3.0 (Unported)">CC BY SA 3.0</a>)</span></li>
			</ul>
		</div>
	<% end %>

	<% if ((@talk.slot && !@talk.slot.locked) || @talk.slot.nil?) %>
	    <div class='actions'>
	        <p>
	            <% if (@talk.slot.nil?) %>
	                <span class="schedule"><%= link_to "Move to Grid", url_options = { :controller => "talks", :action => "schedule", :id => @talk.id }, html_options = { :class => "button green" } %></span>
	            <% else %>
	                <span class="schedule"><%= link_to "Remove from Grid", url_options = { :controller => "talks", :action => "remove", :id => @talk.id }, html_options = { :class => "button red", :style => "color: #fff" } %></span>
	                <span class="schedule"><%= link_to "Move", url_options = { :controller => "talks", :action => "move", :id => @talk.id }, html_options = { :class => "button green" } %></span>
	            <% end %>
	            <span class="submit"><%= link_to "Edit", edit_talk_path(@talk), html_options = { :class => "button green" } %></span>           
	        </p>
	    </div>
	<% end %>
</div>

