<div class="talk">
	<%= render '/shared/talk/details' %>
	<% if (!@talk.slot.nil?) %>
		<% @slot = @talk.slot %>
		<%= render '/shared/talk/slot' %>		
	<% end %>
	
	<% if (!@talk.slot.locked) %>
		<div class='actions'>
			<p>
				<span class="destroy"><%= link_to 'Destroy', @talk, :confirm => 'Are you sure?', :method => :delete %></span>
				<% if (@talk.slot.nil?) %>
					<span class="schedule"><%= link_to "Move to Grid", url_options = { :controller => "talks", :action => "schedule", :id => @talk.id }, html_options = { :class => "button green" } %></span>
				<% else  %>
					<span class="schedule"><%= link_to "Move", url_options = { :controller => "talks", :action => "move", :id => @talk.id }, html_options = { :class => "button green" } %></span>
				<% end %>
				<span class="submit"><%= link_to "Edit", edit_talk_path(@talk), html_options = { :class => "button green" } %></span>			
			</p>
		</div>
	<% end %>
</div>

