<table summary="<%= @description %>" id="gridTable" cellpadding="0" cellspacing="0" border="0"> 
	<tr> 
		<td>&nbsp;</td> 
		<% @timeslots.each do |timeslot| %>
			<th class="timeslot">
				<%= timeslot.start.strftime("%a") %><br/>
				<%= timeslot.start.strftime("%H:%M") %> <%= timeslot.end.strftime("%H:%M") %>
			</th>
		<% end %>
	</tr> 
	<% @rooms.each do |room| %>
		<tr> 
			<th class="room"><%= room.name %></th>
				<% room.slots.each do |slot| %>
				<td class="slot">
					<% if (slot.talk.nil?) %>
						<p>Empty</p>	
					<% else %>
						<% @talk = slot.talk %>
						<div class="talk"> 					
							<h2 class="heading title">	
								<%= @talk.title unless @talk.title.nil? %>										
							</h2> 
							<h3 class="heading speaker">
								<%= @talk.speaker unless @talk.speaker.nil? %>
							</h3>
							<p class="description"><%= @talk.description unless @talk.description.nil? %></p>
							<p class="options">
								<%= link_to 'Edit', edit_talk_path(@talk) unless @talk.locked? %>
							</p>	
						</div>			
					<% end %>
				</td>
			<% end %> 
		</tr>
	<% end %>
</table>