<table summary="<%= @description %>" cellpadding="0" cellspacing="0" border="0"<% if (@is_single_timeslot) %> width="100%"<% end %> class="grid <%= (@is_single_timeslot ? "single-timeslot" : "multi-timeslot") %>">
	<tr> 
		<% if (@show_room_col) %><th>&nbsp;</th><% end %> 
		<% @timeslots.each do | timeslot | %>
			<% @timeslot = timeslot %>
			<th class="timeslot header <%= cycle("odd", "even") %><% if (@timeslot == Timeslot.on_now) %> now<% end %>">
				<% if (!@is_single_timeslot) %><a href="<%= url_for :controller => "grid", :action => "show", :date => @timeslot.start.to_date, :timeslot => @timeslot.id %>"><% end %>				
					<%= render "shared/grid/timeslot_heading" %>
				<% if (!@is_single_timeslot) %></a><% end %>
			</th>
		<% end %>
	</tr> 			
	<% @rooms.each do |room| %>
	    <% @room = room %>
	    <tr class="<%= cycle("odd", "even") %>">
	    	<% if (@show_room_col) %>
		        <th class="room header">
					<p class="heading"><%= link_to @room.name, :controller => "grid", :action => "room", :date => @date, :room => @room.short_code %></p>
		            <p class="shortcode"><%= @room.short_code.upcase %></p>
		            <p class="capacity"><span class="label">Holds: </span><%= @room.capacity %></p>		            
		        </th>      
	        <% end %>                 
	        <% @room.slots.each do |slot| %>
	        	<% if (@timeslots.include?(slot.timeslot))	        		
	            	@slot = @grid.slot(slot.id) 
	            	@slots = @slot.timeslot.slots %>
	            	<td <% if (@version != "low") %>data-slot_id="<%= @slot.id %>"<% end %><% if (classnames(@slot).length > 0) %>class="<%= classnames(@slot).join(" ") %>"<% end %>
	           			<%= render 'shared/grid/slot' %>
	           		</td>
	           	<% end %>
	        <% end %> 
	    </tr>
	<% end %>
</table>
