<% if (@page_id != "room") %>
	<p class="skip-to-empty skip-down hide">		
		<a name="empty-0" href="#empty-1" title="Skip to the first empty slot">
			<img class="icon" width="14" height="8" src="/images/themes/default/arrows/down_14x8.png" alt="An arrow pointing downwards" />
			<span class="label">first empty slot</span>
		</a>
	</p>
<% end %>
<div class="grid">	
	<% 
		prev_timeslot = nil
		prev_room = nil
	 	prev_slot = nil
	%>
	<% @timeslots.each do | timeslot | %>
		<% 
			next_timeslot = (timeslot == @timeslots.last) ? nil : @timeslots[@timeslots.index(timeslot) + 1]
			slots = timeslot.slots.sort_by{|slot| [slot.room.id, slot.id]} 
		%>		
		<hr class="hide session" size="2" />
		<div id="timeslot-<%= timeslot.id %>" class="timeslot<% if (timeslot == @timeslots.first) %> first<% end %>">			
			<div class="header">
				<% if ((@version == "s") && !@is_single_timeslot) %>
					<p class="skip">
						<span class="label">Session: </span>
						<% if (!next_timeslot.nil?) %>
							<a href="#timeslot-<%= next_timeslot.id %>" class="next">next</a>
						<% end %>
						<% if (!next_timeslot.nil? && !prev_timeslot.nil?) %>
							<span class="delimiter"> | </span>
						<% end %>
						<% if (!prev_timeslot.nil?) %>
							<a href="#timeslot-<%= prev_timeslot.id %>" class="prev">prev</a>
						<% end %>
						<span class="delimiter"> | </span>
						<a href="#header" class="top">top</a>
					</p>
				<% end %>			
				<% cache ("timeslot_#{timeslot.id}_#{@page_id}_#{@version}") do %>
					<%= render "shared/grid/timeslot_heading", :timeslot => timeslot %>
				<% end %>			
			</div>
			<div class="slots">								 	 
				<% timeslot.slots.each do |slot| %>									
					<% room = slot.room %>			
					<% if ((timeslot.has_global_talk? && !room.is_empty?(timeslot)) || (!timeslot.has_global_talk? && room.include_in_grid && (@page_id != 'room' || (@page_id == 'room' && slot.room == @room)))) %>												
						<% cache ("slot_#{slot.id}_#{@page_id}_#{@version}") do %>
							<% 
								if (@version == 's')
									next_slot = next_displayed_slot(((@page_id == 'date-grid') ? @slots : slots), slot)
								else
									next_slot = nil
								end 								
							%>							
			       			<%= render 'shared/grid/slot', :timeslots => @timeslots, :timeslot => timeslot, :next_timeslot => next_timeslot, :prev_timeslot => prev_timeslot, :prev_room => prev_room, :slots => slots, :slot => slot, :next_slot => next_slot, :prev_slot => prev_slot, :room => room %>
			       			<% prev_room = room %>
			       			<% prev_slot = slot %> 
						<% end %>
			       	<% end %>
				<% end %>	
			</div>
		</div>						
		<% prev_timeslot = timeslot %>					
	<% end %>					
</div>
<% if (@page_id != "room" && (@timeslot.contains_empty_slot? unless @timeslot.nil?)) %>
	<p id="empty-<%= @empty_slot_index %>" class="skip skip-to-empty skip-to-empty-last">
		<img class="icon" width="14" height="8" src="/images/themes/default/arrows/up_14x8.png" alt="An arrow pointing upwards" />		
		<a href="#empty-0 %>">first empty</a>
		<span class="delimiter"> | </span>
		<a href="#empty-<%= @empty_slot_index - 1 %>">last empty</a>
	</p>
<% end %>