<table summary="<%= @description %>" cellpadding="0" cellspacing="0" border="0"<% if (@is_single_timeslot) %> width="100%"<% end %> class="grid <%= (@is_single_timeslot ? "single-timeslot" : "multi-timeslot") %>">
	<tr> 
		<% if (@show_room_col) %><th>&nbsp;</th><% end %> 
		<% @timeslots.each do | timeslot | %>
			<% @timeslot = timeslot %>
			<th class="timeslot header <%= cycle("odd", "even") %><% if (@timeslot == Timeslot.on_now) %> now<% end %>">			
				<%= render "shared/grid/timeslot_heading" %>
			</th>
		<% end %>
	</tr> 			
	<% @rooms.each do |room| %>
	    <% @room = room %>
	    <tr class="<%= cycle("odd", "even") %>">
	    	<% if (@show_room_col) %>
		        <th class="room header">
					<p class="heading"><%= link_to @room.name, :controller => "grid", :action => "room", :date => @date, :room => @room.short_code %></p>
		            <p class="shortcode"><%= @room.short_code.upcase %></p>
		            <div class="details">
		            	<p class="capacity"><span class="label">Holds: </span><%= @room.capacity unless @room.capacity.blank? %></p>
		            	<p class="facilities"><span class="label">Facilities: </span><% if (@room.facilities.blank?) %>Nothing special<% else %><%= @room.facilities %><% end %></p>
		            </div>		  		            
		        </th>      
	        <% end %>      
	        <% @timeslots.each do |timeslot| %>
	        	<% @timeslot = timeslot %>
	        	<% @slots = @timeslot.slots %>
	        	<% @slots.each do |slot|%>
	        		<% @slot = slot %>
	        		<% if (@slot.room_id == @room.id) %>
		            	<td <% if (@version == "l") %>data-slot_id="<%= @slot.id %>"<% end %><% if (classnames(@slot).length > 0) %>class="<%= classnames(@slot).join(" ") %>"<% end %>>
		           			<% cache ("slot_#{@slot.id}_#{@page_id}_#{@version}") do %>
								<%= render 'shared/grid/slot' %>
							<% end %>
		           		</td>	   
	           		<% end %>     			        	
	        	<% end %>
	        <% end %>	      
	    </tr>
	<% end %>
</table>
