<table summary="<%= @description %>" id="gridTable" cellpadding="0" cellspacing="0" border="0"> 
	<tr> 
		<th>&nbsp;</th> 
		<% @timeslots.each do |timeslot| %>
			<th class="timeslot">
				<p>
					<a href="/grid/<%= timeslot.id %>">
					<%= timeslot.start.strftime("%A") %><br/>
					<%= timeslot.start.strftime("%H:%M") %>-<%= timeslot.end.strftime("%H:%M") %>
				</p>
			</th>
		<% end %>
	</tr> 			
	<% if (@timeslots.count > 1) %>
		<%= render 'shared/grid/multi' %>
	<% else %>
		<%= render 'shared/grid/single' %>
	<% end %>
</table>