<td data-slot_id="<%= @slot.id %>" class="<%= "now" if (@slot.timeslot == Timeslot.now) %> <%= "empty" if (@slot.is_empty?) %>">
    <div class="slot">
        <% if (@slot.is_empty?) %>

                <% if (current_page?(:action => 'schedule', :controller => 'talks')) %>
                    <%= form_tag('/talks/assign_slot') do |f| %>
                        <%= hidden_field('talk', 'slot_id', :value => @slot.id) %>
                        <%= hidden_field('talk', 'id', :value => @unscheduled.id) %>
                        <span class="submit"><%= submit_tag("Add here", :class => "button green medium") %></span>
                    <% end %>
                <% else %>
                    <span class='submit'><%= link_to("Add a talk", "/talks/new", :class => "button green medium") %></span>
                <% end %>
                <% cache("where_when_#{@slot.id}") do %>
                    <%= render '/shared/grid/where_when' %>
                <% end %>
        <% else %>
            <% talk = @grid.talk(@slot.id)%>
            <div class="talk">
                <h2 class="heading title">
                	<% talk_title = ((talk.title.strip == "") ? "[Untitled]" : talk.title) %>
                    <%= link_to talk_title, talk_path(talk) unless talk.title.nil? %>                    
                </h2> 
                <% if ((!talk.speaker.nil?) && talk.speaker.strip != "") %>
	                <h3 class="heading speaker">
	                    <%= talk.speaker %>
	                </h3>
	            <% end %>
                <% cache("where_when_#{@slot.id}") do %>
                    <%= render '/shared/grid/where_when' %>
                <% end %>
            </div>          
        <% end %>
    </div>
</td>