<% talk_element = element("talk_title") %>
<% if (@version == 's') %>	
	<hr class="hide room" size="1" />
<% end %>
<div id="slot-<%= slot.id %>" class="slot">
    <% slot_index = slot_index(slots, slot) %>
    <% if (@version == "s" && @page_id != "room") %>
    	<%= render '/shared/nav/skippers/room', :next_slot => next_slot, :prev_slot => prev_slot, :prev_room => prev_room, :prev_timeslot => prev_timeslot, :next_timeslot => next_timeslot, :slots => slots,  :room => room, :timeslot => timeslot %>
    <% end %>
    <% if (!slot.locked && slot.is_empty?) %>              
        <div id="empty-<%= @empty_slot_index %>" class="empty">    
            <% if (@page_id != "room") %>    
                <% cache("where_when_#{slot.id}_#{@page_id}_#{@version}") do %>
                    <%= render '/shared/grid/where_when', :timeslot => timeslot, :room => room, :date => @date  %>
                <% end %>
            <% end %>
            <% if (@page_id == "talk-assign" || @page_id == "talk-move") %>
                <%= form_tag(:controller => "talks", :action => "assign_slot") do |f| %>
                    <input type="hidden" name="slot" value="<%= slot.id %>" />
                    <% if (@page_id == "talk-assign") %>
                        <p class="actions"><span class="submit"><%= submit_tag("Insert here", options = { :id => "slot-#{slot.id}-select", :class => "button green medium" }) %></span></p>
                    <% else %>
                        <p class="actions"><span class="submit"><%= submit_tag("Move here", options = { :id => "slot-#{slot.id}-select", :class => "button green medium" }) %></span></p>
                    <% end %>
                <% end %>
            <% elsif (@version == 's' || @version == 'xl' || @is_single_timeslot) %> 
                <<%= talk_element %> class="heading">Empty</<%= talk_element %>>               
            <% end %>
            <% if (@version == "s" && @page_id != "room") %>   
                <p class="skip skip-to-empty">
                    <span class="label">Empty: </span>
                    <a href="#empty-<%= (@empty_slot_index + 1) %>">next</a>
                    <span class="delimiter"> | </span>
                    <a href="#empty-<%= (@empty_slot_index - 1) %>">prev</a>
                    <span class="delimiter"> | </span>
                    <a href="#header" class="top">top</a>
                </p>
            <% end %>
        </div>  
    <% else %>
    	<% talk = ((slot.locked && slot.is_empty?) ? timeslot.global_talk : slot.talk) %>
        <div class="talk">        	
        	<% if (@page_id != "room") %>
           		<%= render '/shared/grid/where_when', :timeslot => timeslot, :room => ((talk.nil? || talk.slot.nil?) ? room : talk.slot.room), :date => @date %>
            <% end %>
            <% if (@version != 's') %>
            	<%= render '/shared/grid/swap', :talk => talk, :slot => slot %>
            <% end %>        
            <% if (@page_id == 'room' && talk.slot.room.id != @room.id) %>
            	<div class="message warning">
            		<p>This talk is scheduled to take place in <%= talk.slot.room.name %>.</p>
            	</div>
            <% end %>                      
            <<%= talk_element %> class="heading title">
            	<% if (talk.nil?) %>
            		<%= timeslot.name %> 
            	<% else %>
                	<% talk_title = ((talk.title.strip == "") ? "[Untitled]" : talk.title) %>
                	<%= link_to talk_title, talk_path(talk) unless talk.title.nil? %> 
                <% end %>                                   
            </<%= talk_element %>> 
            <% if (!talk.nil?) %>
							<% if ((@version == 'xl' && @page_id == 'grid' ) || (@version == 's' && (@page_id != 'date-grid' && @page_id != 'talk-assign') && !talk.description.blank?)) %>
							    <div class="description">
							        <%= talk.description %>
							    </div>
							<% end %>	            
            	<% if (!talk.speaker.blank?) %>
	                <h3 class="heading speaker">
	                    <%= talk.speaker %>
	                </h3>
            	<% end %>     	            
            <% end %>  
            <% if (@version == 's') %>
            	<%= render '/shared/grid/swap', :talk => talk, :slot => slot %>
            <% end %>             
	    </div>	    
    <% end %> 
</div>