<% slotIsEmpty=(@slot.nil? || @grid.talk(@slot.id).nil?) %>
<td data-slot_id="<%= @slot.id %>">
    <div class="slot">
        <% if (slotIsEmpty) %>
            <div class="empty">             
                <% if (current_page?(:action => 'schedule', :controller => 'talks')) %>
                    <%= form_tag('/talks/assign_slot') do |f| %>
                        <%= hidden_field('talk', 'slot_id', :value => @slot.id) %>
                        <%= hidden_field('talk', 'id', :value => @unscheduled.id) %>
                        <span class="submit"><%= submit_tag("Add here") %></span>
                    <% end %>
                <% else %>
                    <p class="heading title">Empty</p> 
                <% end %>               
                <%= render '/shared/grid/where_when' %>
            </div>  
        <% else %>
            <% talk = @grid.talk(@slot.id)%>
            <div class="talk">
                <h2 class="heading title">
                    <%= link_to talk.title, talk_path(talk) unless talk.title.nil? %>
                </h2> 
                <h3 class="heading speaker">
                    <%= talk.speaker unless talk.speaker.nil? %>
                </h3>
                <!--<p class="description"><%= talk.description unless talk.description.nil? %></p>-->
                <p class="options">
                    <%= link_to 'Edit', edit_talk_path(talk) unless talk.locked? %>
                </p>
                <%= render '/shared/grid/where_when' %>
            </div>          
        <% end %>
    </div>
</td>