<td>
	<div class="slot">
		<% if (@slot.nil? || @slot.talk.nil?) %>
			<div class="empty">
				<p>Empty</p>
				<%= render '/shared/grid/where_when' %>
			</div>	
		<% else %>
			<% @talk = @slot.talk %>
			<div class="talk">
				<h2 class="heading title">
					<%= @talk.title unless @talk.title.nil? %>
				</h2> 
				<h3 class="heading speaker">
					<%= @talk.speaker unless @talk.speaker.nil? %>
				</h3>
				<p class="description"><%= @talk.description unless @talk.description.nil? %></p>
				<p class="options">
					<%= link_to 'Edit', edit_talk_path(@talk) unless @talk.locked? %>
				</p>
				<%= render '/shared/grid/where_when' %>								
			</div>			
		<% end %>
	</div>
</td>