<% if (@version == "s" && @page_id != "room") %>
	<p class="day"><%= timeslot.start.strftime("%A") %></p>
<% elsif (@page_id == "room") %>
	<p class="context"><% if (timeslot == @timeslot_on_now) %>Now<% else %>Next<% end %></p>
<% end %>
<p class="time">
	<% if (!@is_single_timeslot) %>		
		<a href="<% if (@version == "s") %><%= url_for :controller => "grid", :action => "show", :timeslot => timeslot.id, :date => @date %><% else %><%= url_for :controller => "grid", :action => "show", :date => timeslot.start.to_date, :timeslot => timeslot.id, :version => params[:version] %><% end %>">
	<% end %>			
	<%= timeslot.start.strftime("%H:%M") %>-<%= timeslot.end.strftime("%H:%M") %>
	<% if (!@is_single_timeslot) %>
		</a>
	<% end %>
</p>