<% if (@page_id == "room" || (@version == 'xl' && @page_id == "grid")) %>
	<h2 class="context"><% if (timeslot == @timeslot_on_now) %>Now<% else %>Next<% end %></h2>
<% end %>
<% element = element("timeslot_heading") %>
<<%= element %> class="time">
	<% if (!@is_single_timeslot) %>		
		<a href="<% if (@version == "s") %><%= url_for :controller => "grid", :action => "show", :timeslot => timeslot.id, :date => @date %><% else %><%= url_for :controller => "grid", :action => "show", :date => timeslot.start.to_date, :timeslot => timeslot.id, :version => params[:version] %><% end %>">
	<% end %>			
	<%= timeslot.start.strftime("%H:%M") %>-<%= timeslot.end.strftime("%H:%M") %>
	<% if (!@is_single_timeslot) %>
		</a>
	<% end %>
</<%= element %>>
<p class="duration">
	<%= timeslot.duration_in_minutes %> mins
</p>