<div id="<% if (@header) %>core-options<% elsif (@footer) %>options<% end %>" class="nav">
	<h2 class="heading<% if (@header) %> hide<% end %>">Options:</h2>
	<ul>
		<% if ((@header && @version != "s") || (@footer && @version == "s")) %>
			<li<% if (current_page?(:action => 'index', :controller => 'grid') || request.url == root_url) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid' %>">View Grid</a>
			</li>
			<li<% if (current_page?(:action => 'now', :controller => 'grid')) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid', :action => 'now' %>">On Now</a>
			</li>
			<li<% if (current_page?(:action => 'next', :controller => 'grid')) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid', :action => 'next' %>">On Next</a>
			</li>
			<li class="add-talk<% if (current_page?(:action => 'new', :controller => 'talks')) %> selected<% end %>">
				<a href="<%= url_for :controller => 'talks', :action => 'new' %>" class="add"><span class="label">Add a Talk</span></a>
			</li>
		<% end %>
		<% if (@footer) %>
			<li<% if (current_page?(:action => 'unscheduled', :controller => 'talks')) %> class="selected"<% end %>><%= link_to "Unscheduled Talks", :controller => "talks", :action => "unscheduled" %><span class="delimiter"></span></li>
			<li><a href="/feedback">Feedback [404]</a><span class="delimiter"></span></li>
			<li class="last"><a href="/help">Help [404]</a></li>	
		<% end %>	
	</ul>	
</div>