<div id="<% if (@header) %>core-options<% elsif (@footer) %>options<% end %>" class="nav">
	<h2 class="heading<% if (@header) %> hide<% end %>">Options:</h2>
	<ul<% if (@version == 's') %> class="bulleted"<% end %>>
		<% if ((@header && @version != "s") || (@footer && @version == "s")) %>
			<li<% if (@current_controller == 'grid' && !(@page_id == 'timeslot' && (@timeslot == @timeslot_on_now || @timeslot == @timeslot_on_next))) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid' %>" title="The event's organic schedule (g)" accesskey="g"><span class="label">View <em class="accesskey">G</em>rid</span></a>
			</li>
			<li<% if (@current_controller == 'grid' && @page_id == 'timeslot' && @timeslot == @timeslot_on_now) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid', :action => 'now' %>" title="Information about what's scheduled to happen during the current session (1)" accesskey="1"><span class="label">On Now</span></a>
			</li>
			<li<% if (@current_controller == 'grid' && @page_id == 'timeslot' && @timeslot == @timeslot_on_next) %> class="selected"<% end %>>
				<a href="<%= url_for :controller => 'grid', :action => 'next' %>" title="Information about what's due to happen during the next session (2)" accesskey="2"><span class="label">On Next</span></a>
			</li>
			<li class="add-talk<% if (current_page?(:action => 'new', :controller => 'talks')) %> selected<% end %>">
				<a href="<%= url_for :controller => 'talks', :action => 'new' %>" class="add" accesskey="+" title="Create and schedule a talk (+)"><span class="label">Add a Talk</span></a>
			</li>
		<% end %>
		<% if (@footer) %>
			<li<% if (@current_controller == 'talks' && @current_action == 'index') %> class="selected"<% end %>>
				<a href="<%= url_for :controller => "talks", :action => "index" %>" accesskey="t" title="A list of all talks (t), scheduled and unscheduled (u)">All <em class="accesskey">T</em>alks</a><span class="delimiter"></span>
				<a href="<%= url_for :controller => "talks", :action => "unscheduled" %>" accesskey="u" title="A list of all talks that have been created but aren't currently scheduled to take place (u)" class="hide">&nbsp;</a>
			</li>
			<li><a href="<%= url_for :controller => 'application', :action => 'feedback' %>" accesskey="9" title="Tell us what you think (9)">Feedback</a><span class="delimiter"></span></li>
			<li><a href="<%= url_for :controller => 'application', :action => 'help' %>" accesskey="6" title="General information about the site that might be useful (6)">Help</a><span class="delimiter"></span></li>
			<li class="last"><a href="<%= url_for :controller => 'application', :action => 'help', :anchor => 'accesskeys' %>" accesskey="0" title="A list to the accesskeys used on this site (0)">Accesskeys</a></li>
		<% end %>	
	</ul>	
</div>