<h1 class="heading"><%= @room.name  %></h1>
<div class="details">
	<div class="description">
		<p><%= @room.description %></p>
	</div>		
	<div class="capacity">
		<h2 class="heading">Capacity</h2>
		<p><%= @room.capacity %></p>
	</div>
	<div class="shortcode">
		<h2 class="heading">Shortcode</h2>
		<p><%= @room.short_code.upcase %></p>
	</div>	
</div>
<%=	render "shared/grid/grid_vertical" %> 	