<p id="notice"><%= notice %></p>

<h1><span class="label">Name: </span><%= @room.name %></h1>

<h2 class="label">Description:</h2>
 <p><%= @room.description %></p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
