<%= form_for(@timeslot) do |f| %>
  
  	<% if @timeslot.errors.any? 
		@errors = @timeslot.errors
		@context = "prohibited this timeslot from being saved:"
	%><%= render '/shared/error' %>
	<% end %>

	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :start %><br />
		<%= f.datetime_select :start %>
	</div>
	<div class="field">
		<%= f.label :end %><br />
		<%= f.datetime_select :end %>
	</div>

	<fieldset class="actions">	
		<legend>Options</legend>		
		<span class="cancel"><%= link_to 'Cancel', timeslots_path %></span>
		<span class="delimiter"> </span>
		<span class="submit"><%= f.submit %></span>		
	</fieldset>
<% end %>
