<h1>Now</h1> 
<table summary="List of all the talks happening now, at Barcamp 2011" id="gridTable" cellpadding="5"> 
	<thead> 
		<tr> 
			<td>&nbsp;</td> 
			<% @timeslots.each do |timeslot| %>
				<th class="timeslot"><%= timeslot.start.strftime("%H:%M") %> <%= timeslot.end.strftime("%H:%M") %></th>
			<% end %>
		</tr> 
	</thead> 
	<tbody>		
	<% @rooms.each do |room| %>
		<tr> 
			<th class="room"><%= room.name %></th>
			<% room.slots.each do |slot| %>
			<td class="slot">
				<% if (slot.talk.nil?) %>
					<%= "Empty" %>
				<% else %>
					<div class="talk"> 					
						<h2 class="title"><%= slot.talk.title unless slot.talk.title.nil? %></h2> 
						<h3 class"speaker"><%= slot.talk.speaker unless slot.talk.speaker.nil? %></h3>
						<p class="description"><%= slot.talk.description unless slot.talk.description.nil? %></p>
					</div>				
				<% end %>
			</td> 
		<% end %>
		</tr>
	<% end %>
	</tbody> 
</table>