<p id="notice"><%= notice %></p>

<h1>
  <span class="label">Name:</span>
  <%= @timeslot.name %>
</h1>

<p>
  <span class="label">Start:</span>
  <%= @timeslot.start %>
</p>

<p>
  <span class="label">End:</span>
  <%= @timeslot.end %>
</p>


<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
