<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @timeslot.name %>
</p>

<p>
  <b>Start:</b>
  <%= @timeslot.start %>
</p>

<p>
  <b>End:</b>
  <%= @timeslot.end %>
</p>


<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
