<div class="when">
	<p class="start"><span class="label">Start: </span><%= @slot.timeslot.start.strftime("%a") %> <%= @slot.timeslot.start.strftime("%H:%M") %></p>
	<p class="end"><span class="label">End: </span><%= @slot.timeslot.start.strftime("%a") %> <%= @slot.timeslot.end.strftime("%H:%M") %></p>
</div>	
<p class="where">
	<span class="label">Room: </span>
	<%= @slot.room.name %>
</p>	