<!doctype html> 
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]--> 
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]--> 
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
	<head>  
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		
		<title>Griddy</title>
		
		<!-- Style -->	
		<% if (@version == "large") %> 			
				<%= stylesheet_link_tag "global", "screen/shared", "screen/medium", "screen/large" %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/medium", "themes/#{theme}/screen/high" %>			
		<% elsif (@version == "medium") %>			
				<%= stylesheet_link_tag "global", "screen/shared", "screen/medium" %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/medium" %>			
		<% else  %>						
				<%= stylesheet_link_tag "global", "screen/shared", "screen/small"  %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/small"  %>						
		<% end  %>
		
		<!-- CSRF -->
		<%= csrf_meta_tag %>	
		
		
		<meta name="description" content="">
		<meta name="author" content=""> 
		<meta name="viewport" content="width=200, initial-scale=1, maximum-scale=3, minimum-scale=1"> 
		
	</head> 
	<body id="<%= @page_id %>" class="<%= controller.controller_name %>">
		<%= render '/shared/header' %>
		<div id="body">
			<%= render '/shared/nav/scrollers' %>
			<div id="main">
				<%= render '/shared/notice' %>
				<%= yield %>
			</div>
		</div>
		<%= render 'shared/footer' %>
	
		<%= javascript_include_tag :all %>
		
		<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started --> 
		<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
		<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
		<![endif]--> 
	</body> 
</html>