<% if (@version == 'l') %>
	<!DOCTYPE html>
	<html lang="en">
<% else %>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<% end %>
	<head>  
		<!-- Style -->
		<% if (@version == "xl") %>
				<%= stylesheet_link_tag "global", "screen/extra_large", :media => 'all' %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/extra_large", :media => 'all' %>			
		<% elsif (@version == "l") %> 			
				<%= stylesheet_link_tag "global", "screen/shared", "screen/medium", "screen/large", :media => 'all' %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/medium", "themes/#{theme}/screen/large", :media => 'all' %>			
		<% elsif (@version == "m") %>			
				<%= stylesheet_link_tag "global", "screen/shared", "screen/medium", :media => 'all' %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/medium", :media => 'all' %>			
		<% else  %>						
				<%= stylesheet_link_tag "global", "screen/shared", "screen/small", :media => 'all'  %>
				<%= stylesheet_link_tag "themes/#{theme}/global", "themes/#{theme}/screen/shared", "themes/#{theme}/screen/small", :media => 'all'  %>						
		<% end  %>
		
		<!-- CSRF -->
		<%= csrf_meta_tag %>	
			
		<!-- Meta-data -->
		<title>BarCamp O2 - Digital Grid</title>		
		<meta name="description" content="" />
		<meta name="author" content="" /> 
		<meta name="viewport" content="width=200, initial-scale=1, maximum-scale=3, minimum-scale=1" />
		<%= favicon_link_tag %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-language" content="en" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		
		<% if (@version == 'xl' && @current_controller == 'grid' && @current_action == 'index') 
			# Legacy automatic page refresh (60 seconds) %>
			<noscript>				
				<meta http-equiv="refresh" content="60">
			</noscript>
		<% end %>		
		 						
	</head> 
	<body id="<%= @page_id %>" class="<%= controller.controller_name %><% if (@version) %> v-<%= @version %><% end %>">
		<% if (@version != 'xl') %>
			<%= render '/shared/header' %>
		<% end %>
		<div id="body">	
			<div id="main">
				<% if (cookies[:version_check] != 'true') %>
					<%= render '/shared/notice' %>
				<% end %>
				<%= yield %>
			</div>
		</div>		
		<% if (@version != 'xl') %>
			<%= render 'shared/footer' %>
		<% end %>
		
		<% if (@version != 's') %>
			
			<% if (@version != 'xl') %>
				<%## PubNub %>
				<div pub-key="<%= ENV['PUBNUB_PUBLISH_KEY'] %>" sub-key="<%= ENV['PUBNUB_SUBSCRIBE_KEY'] %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
			<% end %>
		
			<!-- Scripts -->
			<%## Libraries %>											
			<%= javascript_include_tag "jquery.min.js" %>
			<% if (@version == 'xl') %>
				<%= javascript_include_tag "babble.js" %>
				<%= javascript_include_tag "xl.js" %>
			<% else %>
				<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
				<%= javascript_include_tag "pubnub.js" %>
			<% end %>								
			
			<%## Bespoke %>
			<%= javascript_include_tag "application" %>		
			
			<%## Google Analytics %>
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-26290688-2']);  
			  _gaq.push(['_trackPageview']);
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })(); 
			</script>
				
		
			<%## Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
			chromium.org/developers/how-tos/chrome-frame-getting-started %> 
			<!--[if lt IE 7 ]>
			<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
			<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
			<![endif]--> 
		<% end %>
	</body> 
</html>