<!DOCTYPE html>
<html>
<head>
	<title>Griddy</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
	<body>
		<%= render 'shared/header' %>
		<div id="content">
			<%= yield %>
		</div>
		<%= render 'shared/footer' %>
	</body>
</html>
